@model IPagedList<Data.gov.sg.Models.Graduates_From_University>

@{
    ViewBag.Title = "Tabla";
}

@using PagedList.Mvc;
@using PagedList;
<html lang="en">
<head>
    <title>Tabla</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <img src="~/Content/logo.svg" alt="logo">
            <p>Data.gov.sg</p>
        </div>
        <div class="header-menu">
            <a href="#">Topics</a>
            <a href="#">Blog</a>
            <a href="#">Developers</a>
            <a href="#">Data Request</a>
        </div>

    </header>
    <main>
        <div class="main">
            <div class="main-title">
                <h1>
                    Graduates From University First Degree Courses By Type Of Course
                </h1>
                <button>Dowloand</button>
            </div>
            <div class="main-subtitle">
                <p>
                    FILES IN THIS DATASET
                </p>
            </div>
        </div>
        <div class="table">
            <div class="table-aux">
                <div class="table-subtitle">
                    <h2>
                        Graduates From University First Degree Courses By Type Of Course
                    </h2>
                </div>
                <div class="table-deco">

                </div>
            </div>
            <table class="table-information">
                <tr>
                    <th class="table-data">
                        @Html.ActionLink("Year","Tabla",new { sortBy = ViewBag.SortYearParameter, search = Request.QueryString["search"]})
                    </th>
                    <th class="table-data">

                        @Html.ActionLink("Sex", "Tabla", new { sortBy = ViewBag.SortSexParameter, search = Request.QueryString["search"] })
                    </th>
                    <th class="table-data">
                        @Html.ActionLink("TypeOfCourse", "Tabla", new { sortBy = ViewBag.SortTypeParameter, search = Request.QueryString["search"] })
                    </th>
                    <th class="table-data">
                        @Html.ActionLink("NoOfGraduates", "Tabla", new { sortBy = ViewBag.NoOfGraduates, search = Request.QueryString["search"] })
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="aaa">
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.TypeOfCourse)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.NoOfGraduates)
                        </td>

                    </tr>
                }

            </table>


        </div>
        @Html.PagedListPager(Model, i => Url.Action("Tabla", "Index", new { i, search = Request.QueryString["search"] }))


    </main>
</body>
</html>

